/ToBeLifeBetter.Hourse/.vs
/ToBeLifeBetter.Hourse/ToBeLifeBetter.Hourse/bin
/ToBeLifeBetter.Hourse/ToBeLifeBetter.Hourse/obj
/ToBeLifeBetter.Hourse/ToBeLifeBetter.IService/bin
/ToBeLifeBetter.Hourse/ToBeLifeBetter.IService/obj
/ToBeLifeBetter.Hourse/ToBeLifeBetter.Service/bin
/ToBeLifeBetter.Hourse/ToBeLifeBetter.Service/obj
